@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-Light-DiSf0yqz.woff2) format("woff2")
}

@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-Regular-CJ-V5oYT.woff2) format("woff2")
}

@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-Medium-lFbtlQH6.woff2) format("woff2")
}

@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-SemiBold-DjKNqYRj.woff2) format("woff2")
}

@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-Bold-RjhwGPKo.woff2) format("woff2")
}

@font-face {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/SpaceGrotesk-Bold-RjhwGPKo.woff2) format("woff2")
}

@font-face {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/SpaceMono-Regular-Rg4St2Dn.woff2) format("woff2")
}

@font-face {
    font-family: Space Mono;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/SpaceMono-Italic-YylcN9Ay.woff2) format("woff2")
}

@font-face {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/SpaceMono-Bold-mWgeinG7.woff2) format("woff2")
}

@font-face {
    font-family: Space Mono;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/SpaceMono-BoldItalic-vNvENeTh.woff2) format("woff2")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/Inter-Regular-C38fXH4l.woff2) format("woff2")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/Inter-Bold-Yt3aPRUw.woff2) format("woff2")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/Inter-Black-D4nM5aha.woff2) format("woff2")
}

@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/JetBrainsMono-Regular-V6pRDFza.woff2) format("woff2")
}

@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/JetBrainsMono-Bold-BYuf6tUa.woff2) format("woff2")
}